/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Variables */
:root {
    --primary-font: "Merriweather Sans", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #420c14; /* chocolate-cosmos */
    --secondary-color: #aba361; /* ecru*/
    --tertiary-color: #96c29f;
    --shade-color: #e4f9e8;
    --highlight-color: #732c2c; /* garnet */
    --highlight-color-2: #eff7cf; /* cream */
    --highlight-color-light: #bad9b5; /* celadon */
    --link-color:#336699;
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: var(--primary-font);
    padding-top: 57.15px; /*pushes the top of the header down under fixed navbar*/
    color: #4d4d4d;
    background-image:url(../images/Carriage_transparent_infrontofthe_palace.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    /* Making footer stick to the bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1,
h2,
h3,
h4 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-align: center;
}

h1,
h2 {
    text-transform: uppercase;
}
h2 {
    margin-bottom: 2rem;
    border-bottom: 1px #aba46172 solid;
    text-shadow: rgb(255, 255, 255) 2px 2px 1px;
}
h6{
    font-size: smaller;
}
A{
    text-decoration: none;
    color: var(--primary-color);
}
A:hover{
    color: var(--link-color);
}

.sub-heading-color {
    color: var(--highlight-color);
}
.section {
    padding-top: 2.5rem; /* prevent navbar overlap */
}
/* Buttons */
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}
.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}
.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}
.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}
/* Navbar */
#navbar{
    border-bottom: 3px var(--secondary-color) solid;
}
#navbar .btn{
    border: 1px var(--secondary-color) solid;
}
#navbar .logo {
    width: 30px;
}
/* Header */
#hero{
    margin-top: 20px;
}
#hero .section{
    padding-top: 0;
    text-align: center;
}
#hero .heroImageContainer{
    padding: 0;
    margin: 15px 0;
}
#hero img {
    margin: 0px auto;
    border-top-left-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 20px 20px 20px -20px;
  }
#header .lead {
    font-family: var(--secondary-font);
}
/* Main area */
main{
    /* Make the main takeup all available space, pushing footer down */
    flex: 1 0 auto;
}
/* Services */
/* Gallery stales */
.card{
    margin: 25px 5px;
    border-radius: 0;
    height: 95%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-bottom: 3px var(--secondary-color) solid;
}
.card p{
    text-align: justify;
}
.card h5{
    background-color: var(--secondary-color);
    min-height: 60px;
    padding: 5px;
    margin: -16px -16px 10px -16px;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card img{
    border-radius: 0;
}
.services .accordion-button{
    font-size: 20px !important;
    font-weight: bold !important;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.services p{
    text-align: justify;
}

/* Booking srction */
#booking{
    background-color: var(--secondary-color);
    padding: 30px 0;
}
#booking form{
    margin: 10px 30px;
    padding: 10px 15px;
}
/* End of Booking srction */
/* About us styles */
#aboutUs{
    margin: 55px 0 60px 0;
}
#aboutUs p{
    font-size: larger;
    line-height:27px;
    text-align: justify;
}
/* End of Main area */

/* Footer with contact info */
#contact {
    background-color: var(--primary-color) !important; 
    color: white;
    padding-bottom: 3rem;
    margin: 0px !important;
    border-top: #336699;
}
#contact a{
    color: #336699;
}
#contact h3 {
    color: white;
}
#contact .sub-heading-color {
    color: var(--highlight-color-light);
}
#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}
#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}
#contact .table-dark * {
    background-color: transparent;
}